/* ABOUT PAGE */

body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}

.about-container{
    width:80%;
    margin:50px auto;
    background:#fff;
    padding:40px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}

.about-container h1{
    text-align:center;
    color:#ff7200;
    font-size:50px;
    margin-bottom:20px;
}

.about-container p{
    font-size:20px;
    line-height:1.8;
    color:#333;
    text-align:justify;
}

.about-image{
    display:block;
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:50%;
    margin:20px auto;
    border:5px solid #ff7200;
}

.founder-name{
    text-align:center;
    color:#000;
    font-size:32px;
    margin-top:10px;
    margin-bottom:5px;
}

.founder-title{
    text-align:center;
    color:#ff7200;
    font-size:18px;
    font-weight:bold;
    margin-bottom:30px;
}

.btn-home{
    display:inline-block;
    margin-top:30px;
    padding:12px 30px;
    background:#ff7200;
    color:white;
    text-decoration:none;
    border-radius:5px;
    font-size:18px;
}

.btn-home:hover{
    background:black;
}
